DROP TABLE IF EXISTS BP.Words_Letters
SELECT A.Words, A.isScrabble, SUBSTRING(A.Words, V.number + 1, 1) AS Letters
INTO BP.Words_Letters
FROM (
	SELECT Words, isScrabble
	FROM BP.Words_Alpha
) A
INNER JOIN master..spt_values V 
	ON V.number < LEN(a.Words)
WHERE V.type = 'P'




/*

select count(distinct words), count(*)
from BP.Words_Letters

select top 100 *
from BP.Words_Letters
where words = 'aardvark'

*/

CREATE CLUSTERED INDEX IDX_01 ON BP.Words_Letters(Letters)

ALTER TABLE BP.Words_Letters ADD Points int