USE [Analytics_STG]
GO
/****** Object:  View [BP].[vWords_Alpha]    Script Date: 9/10/2021 11:16:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

select top 100 *
from 

*/ 

create view [BP].[vWords_Alpha] as 

select words, BP.udf_SortString(words) AS alpha_order
from bp.words
GO
