USE [Analytics_STG]
GO
/****** Object:  Table [BP].[Words]    Script Date: 9/10/2021 11:16:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BP].[Words](
	[Words] [varchar](50) NULL
) ON [PRIMARY]
GO
