USE [Analytics_STG]
GO
/****** Object:  Table [BP].[Words_Letters]    Script Date: 9/10/2021 11:16:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BP].[Words_Letters](
	[Words] [varchar](64) NOT NULL,
	[isScrabble] [bit] NULL,
	[Letters] [varchar](1) NULL,
	[Points] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_01]    Script Date: 9/10/2021 11:16:05 AM ******/
CREATE CLUSTERED INDEX [IDX_01] ON [BP].[Words_Letters]
(
	[Letters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
