USE [Analytics_STG]
GO
/****** Object:  Table [BP].[Words_Alpha]    Script Date: 9/10/2021 11:16:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BP].[Words_Alpha](
	[Words] [varchar](64) NOT NULL,
	[Alpha] [varchar](64) NOT NULL,
	[isScrabble] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Words] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_01]    Script Date: 9/10/2021 11:16:05 AM ******/
CREATE NONCLUSTERED INDEX [IDX_01] ON [BP].[Words_Alpha]
(
	[Alpha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_02]    Script Date: 9/10/2021 11:16:05 AM ******/
CREATE NONCLUSTERED INDEX [IDX_02] ON [BP].[Words_Alpha]
(
	[isScrabble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
